if [ -f {{ syspath }}/.bashrc{{ sysver }} ]; then
    . {{ syspath }}/.bashrc{{ sysver }}
fi

if [ "$PS1" ];
then
     if [ $(basename $SHELL) != "fish" ];
     then
         fish
         exit
     fi
fi
